head {
    background-color: #dededebe;
    font-family:monospace;
}
body{
    width: 750px;
    margin: 0 auto;
    background-color: #dededebe;
    font-family:monospace;
}
table{
    border-collapse: collapse;
    margin: 20px;
}
thead{
    background-color: #619196;
}
th, td{
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
    background-color: #84B4C8;
}
.right{
    text-align: right;
}
tbody tr:nth-child(odd) td{
    background-color: #96d0e9;
}