body{
    background-color: darkslategray;
    text-align: center;
    color: black;
    font-family: monospace;
}
.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: white;
    padding: 20px;
    z-index: 1000; /* Ensures it's above other elements */
  }

a {
    color:cornsilk;
    text-decoration: none;
}

a:hover {
    color: crimson;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}

img{
    width: 60%;
}

figure{
    text-align: center;
    font-style: italic;
}
