.pastel-blue-text {
    color: #96d0e9;
}
.medium-blue-text {
    color: #84B4C8
}
.dark-blue-text {
    color: #619196
}
.dark-blue-border {
    border-color:#619196;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;

}
body {
    background-color: #dededebe;
    font-family: monospace;
    margin: 20px 20px 20px 20px;

}
head {
    background-color: #dededebe;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}